[submodule ".tmux/plugins/kube-tmux"]
	path = .tmux/plugins/kube-tmux
	url = https://git::@github.com/jonmosco/kube-tmux
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
