[user]
    name = Sky Moore
    email = i@msky.me
    signingkey = 26BED768CA795EC492C37FC24E492D88EF5C6C66
[commit]
    gpgsign = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
